<!-- Footer Start -->
<footer class="footer">    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-py-60">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-8 mb-0 mb-md-4 pb-0 pb-md-2">
                            <a href="/" class="logo-footer">
                                <img src="{{ 'assets/images/Logo_artepons_b.png' | theme }}" height="60" alt="">
                            </a>
                            <p class="mt-4">En Artepons te ofrecemos un ahorro energético basandonos en diferentes sistemas de aislamiento como el SATE para tus fachadas, con acabados modernos y de calidad.</p>
                            <!-- <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                                <li class="list-inline-item mb-0"><a href="https://wa.me/34687926516" target="_blank" class="rounded"><i class="uil uil-whatsapp align-middle" title="whatsapp"></i></a></li>
                                <li class="list-inline-item mb-0"><a href="mailto:hola@simefri.es" class="rounded"><i class="uil uil-envelope align-middle" title="email"></i></a></li>
                            </ul> -->
                        </div><!--end col-->
                
                        <div class="col-lg-2 col-md-2 col-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Artepons</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="/" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Inicio</a></li>
                                <li><a href="/proyectos" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Proyectos</a></li>
                                <li><a href="/servicios" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Servicios</a></li>
                                <li><a href="/contacto" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Contacto</a></li>
                            </ul>
                        </div><!--end col-->
                
                        <div class="col-lg-3 col-md-3 col-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Textos Legales</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="/aviso-legal" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Aviso Legal</a></li>
                                <li><a href="/politica-privacidad" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Política Privacidad</a></li>
                                <li><a href="/politica-cookies" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Política Cookies</a></li>
                                <!-- <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Protección de Datos</a></li> -->
                            </ul>
                        </div><!--end col-->
                        <div class="col-lg-2 col-md-2 col-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <ul class="list-unstyled footer-list">
                                <li><img src="{{ 'assets/images/Finan-UE-cb.png' | theme }}" height="40"></li>
                                <li><img src="{{ 'assets/images/logo-gobierno-corto.png' | theme }}" height="40"></li>
                                <li><img src="{{ 'assets/images/Plan-recu-cb.png' | theme }}" height="40"></li>
                                <li><img src="{{ 'assets/images/kit-digital-cb.png' | theme }}"height="35"></li>
                            </ul>
                        </div>
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="footer-py-30" style="background-color: white;">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="text-sm-start">
                        <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Artepons. Derechos reservados | Diseñado con <i class="mdi mdi-heart text-danger"></i> por <a href="https://aress.es/" target="_blank" class="text-reset">Aress</a>.</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
<!-- Footer End -->